*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/projectFilesBackup
/.idea/
/.idea/*
!/.idea/codeStyles
!/.idea/codeStyleSettings.xml
!/.idea/dictionaries
!/.idea/copyright
